{% block setono_sylius_quick_order__quick_order_item_widget %}
    <tr>
        <td style="vertical-align: top">
            {{ form_widget(form.quantity) }}
            {{ form_errors(form.quantity) }}
        </td>
        <td style="vertical-align: top">
            {{ form_widget(form.variant) }}
            {{ form_errors(form.variant) }}
        </td>
        <td style="text-align: right"><button type="button" class="ssqo-button-remove ui basic red button"><i class="close icon"></i> {{ 'setono_sylius_quick_order.ui.remove'|trans }}</button></td>
    </tr>
{% endblock %}
